:root {
  --darkBlue: #02174c;
  --veryDarkBlue: #02035e;
  --grayBlue: #8bafc1;
  --veryLightBlue: #d0e5ff;
  --blue: #1976d2;
  --darkLavendar: #6658ff;
  --veryDarkLavendar: #3a38bf;

  --bluePurple: #2a2c76;
  /* --veryLightTeal: #e4f9f5; */
  --veryLightTeal: #e0f2f1;
  /* --lightTeal: #baf0e6; */
  --lightTeal: #b2dfdb;
  --teal: #81e4c4;
  --logoTeal: #8bedd8;
  --lightGray: #cfd8dc;
  --gray: #90a4ae;
  --lightGrayBlue: #b2dfdb;
  --darkGray: #607d8b; /* TODO: too dark (used for hover on tables) */
  --green: #06c96c;

  --black: #111111;
  --red: rgba(255, 0, 0, 0.693);

  --appBackground: #e6e6e678;
  --smallScreenBackground: #112a6eac;
}

.App {
  background-color: var(--appBackground);
  text-align: center;
}
.page-wrapper {
  margin: 24px;
}


/* //////////// */
/*/ NAVIGATION /*/
/* //////////// */
.navigation .MuiPaper-root {
  background-color: var(--darkBlue);
}
.navigation-links.MuiTab-textColorPrimary {
  color: var(--green) !important;
}
.navigation-tabs .MuiTabs-indicator {
  background-color: var(--green) !important;
}


/* ////// */
/*/ TABS /*/
/* ////// */
.tabs {
  /* max-width: 1200px;
  width: 100%; */
  width: 100%;
}
.tabs .MuiButtonBase-root {
  color: var(--veryDarkBlue) !important;
}
.tabs .MuiTabs-indicator {
  background-color: var(--veryDarkBlue); 
}
.tabs .Mui-disabled.MuiTabScrollButton-root {
  display: none; /* Hide disabled tab scroll when all the way left or right */
}
.tabs-hover:hover {
  background-color: var(--lightTeal);
}
.tabs-hover.Mui-selected:hover {
  background-color: var(--veryLightTeal);
}

.tabs-vertical {
  display: flex;
}
.tabs-vertical .MuiTabs-root {
  overflow: visible; /* Show vertical tabs on large screens */
}
.tabs-vertical .Mui-selected {
  background-color: var(--veryLightTeal);
  border-radius: 4px 0px 0px 4px;
  font-weight: 600;
}

.tabPanel-vertical {
  background-color: var(--veryLightTeal);
  border-radius: 0px 4px 4px 4px;
  max-width: 85%;
}


/*///// MAP /////*/
.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}