:root {
  --darkBlue: #02174c;
  --veryDarkBlue: #02035e;
  --grayBlue: #8bafc1;
  --veryLightBlue: #d0e5ff;
  --blue: #1976d2;
  --darkLavendar: #6658ff;
  --veryDarkLavendar: #3a38bf;

  --bluePurple: #2a2c76;
  /* --veryLightTeal: #e4f9f5; */
  --veryLightTeal: #e0f2f1;
  /* --lightTeal: #baf0e6; */
  --lightTeal: #b2dfdb;
  --teal: #81e4c4;
  --logoTeal: #8bedd8;
  --lightGray: #cfd8dc;
  --gray: #90a4ae;
  --lightGrayBlue: #b2dfdb;
  --darkGray: #607d8b; /* TODO: too dark (used for hover on tables) */
  --green: #06c96c;

  --black: #111111;
  --red: rgba(255, 0, 0, 0.693);

  --appBackground: #e6e6e678;
  --smallScreenBackground: #112a6eac;
}

.App {
  background-color: var(--appBackground);
  text-align: center;
}
.page-wrapper {
  margin: 24px;
}


/* //////////// */
/*/ NAVIGATION /*/
/* //////////// */
.navigation .MuiPaper-root {
  background-color: var(--darkBlue);
}
.navigation-links.MuiTab-textColorPrimary {
  color: var(--green) !important;
}
.navigation-tabs .MuiTabs-indicator {
  background-color: var(--green) !important;
}


/* ////// */
/*/ TABS /*/
/* ////// */
.tabs {
  /* max-width: 1200px;
  width: 100%; */
  width: 100%;
}
.tabs .MuiButtonBase-root {
  color: var(--veryDarkBlue) !important;
}
.tabs .MuiTabs-indicator {
  background-color: var(--veryDarkBlue); 
}
.tabs .Mui-disabled.MuiTabScrollButton-root {
  display: none; /* Hide disabled tab scroll when all the way left or right */
}
.tabs-hover:hover {
  background-color: var(--lightTeal);
}
.tabs-hover.Mui-selected:hover {
  background-color: var(--veryLightTeal);
}

.tabs-vertical {
  display: flex;
}
.tabs-vertical .MuiTabs-root {
  overflow: visible; /* Show vertical tabs on large screens */
}
.tabs-vertical .Mui-selected {
  background-color: var(--veryLightTeal);
  border-radius: 4px 0px 0px 4px;
  font-weight: 600;
}

.tabPanel-vertical {
  background-color: var(--veryLightTeal);
  border-radius: 0px 4px 4px 4px;
  max-width: 85%;
}


/* //////////// */
/*/ COMPONENTS /*/
/* //////////// */
.button-container {
  display: flex;
  /* padding-top: 24px; */
}
.button {
  color: var(--veryDarkBlue) !important;
}
.button-outlined {
  border: solid 1px var(--veryDarkBlue) !important;
  color: var(--veryDarkBlue) !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.divider {
  padding: 8px 0px;
}

.image {
  flex: 1;
  height: 100%;
}
.image-container {
  align-items: center;
  width: 280px;
  height: 300px;
  justify-content: center;
  display: flex !important;
  flex-direction: row;
}

.list-header {
  color: var(--veryDarkBlue);
  font-size: 24px;
  font-weight: bold;
  padding: 12px 0px;
  text-align: left;
}
.list-subHeader {
  color: var(--veryDarkBlue);
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
  text-align: left;
}

.list-item-indicator {
  display: flex;
  font-weight: 500;
}
.list-item-indicator-steps {
  align-self: flex-start;
  padding-right: 12px;
}

.page-title {
  color: var(--veryDarkBlue);
  font-size: 32px;
  font-weight: bold;
}

.pageSection-divider {
  /* margin-bottom: 12px;
  margin-top: 12px; */
  padding-bottom: 16px;
  padding-top: 16px;
}

.stack {
  margin: 12px 0px;
  padding: 12px 0px;
}
.stack-row {
  padding: 12px 0px 12px 4px;
  /* margin-bottom: 16px; */
}
.stack-row:hover {
  background: var(--veryLightTeal); /* // TODO: this isn't working */
}
.stack-row-item {
  color: var(--veryDarkBlue);
}
.stack-first-item {
  /* background-color: var(--appBackground); */
  font-weight: 600;
  /* overflow-x: scroll; // TODO: why does this add padding */
  text-align: left;
  /* vertical-align: top; */
  width: 164px;
}
.width-84 {
  width: 84px;
}
.width-104 {
  width: 104px;
}

.tagSection {
  text-align: left;
}

/* .text-color {

} */
/* .title-text-color {
  color: var(--veryDarkBlue);
} */

/* .form {
  padding: 56px 8px 0px 8px
} */
/* .form-title {
  color: var(--veryDarkBlue);
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 24px;
  text-align: left;
} */

.form-row {
  /* align-items: space-around; */
  display: flex;
  /* justify-content: ; */
}

/* .form-error {
  color: rgba(255, 0, 0, 0.693);
  padding-top: 12px;
} */

/* .actions-row {
  display: flex;
  justify-content: space-around;
  padding-top: 40px; 
} */

/*/ Spacing /*/
.bottom-spacing-12 {
  margin-bottom: 48px !important;
}
.right-spacing-12 {
  margin-right: 12px !important;
}
.top-spacing-12 {
  margin-top: 12px !important;
}
.top-spacing-24 {
  margin-top: 24px !important;
}


/*///// TAB SIZING /////*/
/*///// LARGE /////*/
@media only screen and (min-width: 625px) and (max-width: 784px) {
  .tabs-vertical {
    width: 95%;
  }
}
@media only screen and (min-width: 535px) and (max-width: 624px) {
  .tabs-vertical {
    width: 90%;
  }
  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }
}
@media only screen and (min-width: 461px) and (max-width: 534px) {
  .page-wrapper {
    margin: 8px;
  }

  .tabs-vertical {
    display: block;
    width: 100%;
  }
  .tabs-vertical .MuiTabs-root {
    /* overflow: hidden; */
    display: none;
  }
  .tabPanel-vertical {
    border-radius: 0px;
    max-width: 100%;
  }
  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }
}
@media only screen /*and (min-width: 300px)*/ and (max-width: 460px) {
  .page-wrapper {
    margin: 0px;
  }

  .dataGrid-page-container {
    height: 100%;
    padding: 32px 0px 12px 0px;
  }

  .tabs-vertical {
    width: 100%;
  }
  .tabs-vertical .MuiTabs-root {
    overflow: hidden;
  }
  .tabs-vertical .Mui-selected {
    border-radius: 0px;
  }
  
  .tabPanel-vertical {
    border-radius: 0px;
    max-width: 100%;
  }

  /* .small-screen .MuiInputBase-root { */
  .small-screen {
    background-color: var(--smallScreenBackground);
    /* display: visible; */
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }
}